<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:derby:c:\Users\Petr\Documents\Development\JERPA\JERPA\trunk\JERPA\storage\derby</property>
        <property name="connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
        <property name="hibernate.default_schema">APP</property>
        <property name="hibernate.connection.autocommit">false</property>

        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/Article.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/ArticlesComments.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/ArticlesSubscribtions.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/CoexperimenterRel.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/DataFile.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/Experiment.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/ExperimentOptParamDef.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/ExperimentOptParamVal.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/FileMetadataParamDef.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/GroupPermissionRequest.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/Hardware.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/HardwareUsageRel.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/HearingImpairment.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/HearingImpairmentRel.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/History.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/Person.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/PersonOptParamDef.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/PersonOptParamVal.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/ResearchGroup.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/ResearchGroupMembership.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/Scenario.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/VisualImpairment.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/VisualImpairmentRel.hbm.xml"/>
        <mapping resource="ch/ethz/origo/jerpa/data/tier/pojo/Weather.hbm.xml"/>

    </session-factory>
</hibernate-configuration>